h1 {
    color: #F0F0F0;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    margin: 100px 0 0 400px; /* 調整上方、左方邊距 */
}

body {
    background-color: #1f1e1e;
}

body img[src="image/earth.png"] {
    width: 100px;
    height: auto;
    margin-top: 300px;
    margin-left: 20px; /* 左邊距 */
    position: relative;
}

body img[src="image/moon.png"] {
    width: 25px;
    height: auto;
    margin-top: 300px;
    margin-left: 450px; /* 左邊距 */
    position: relative;
}

h2.description {
    color: #F0F0F0;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    align-items: left;
    margin: 130px 0 0 400px; /* 調整上方、左方邊距 */
    position: relative;
    z-index: 2; /* 提高 z-index，使描述位於圖片之上 */
}