.h1-box {
    display: flex;
    justify-content: center;
    width: 40%; /* 調整 h1 box 寬度為網頁的 40% */
    margin: 100px auto 0; /* 上方距離 100px，水平置中 */
}

h1 {
    color: #F0F0F0;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: left; /* 向左對齊 */
    margin: 0; /* 清除預設 margin */
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
}

.description {
    color: #F0F0F0;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    width: 40%; /* 調整描述區塊寬度為網頁的 40% */
}

body {
    background-color: #1f1e1e;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

body img[src="image/earth.png"],
body img[src="image/moon.png"] {
    width: 25vw;
    height: auto; /* 讓高度自動適應寬度比例 */
    margin-top: 30px; /* 調整圖片上方距離 */
    margin-left: 5px; /* 修正兩張圖片的水平對齊 */
}