h1 {
    color: #F0F0F0;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    margin-top: 100px;
    position: relative;
    left: 10px
}

body {
    background-color: #1f1e1e;
}

body img[src="image/earth.png"] {
    width: 100px;
    height: auto;
    margin-top: 160px;
    position: relative;
    left: 10px
}

body img[src="image/moon.png"] {
    width: 25px;
    height: auto;
    margin-top: 160px;
    position: relative;
    right: 10px
}

h2.description {
    color: #F0F0F0;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    align-items: left;
    margin-top: 130px;
    position: relative;
    left: 10px
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container img {
    margin: 0 10px;
}